/* blink based browser */
::-webkit-scrollbar {
	width: 0.7vw;
}

::-webkit-scrollbar-thumb {
	background-color: #14FF47;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(133, 100%, 34%);
}

::-webkit-scrollbar-track {
	background-color: #333;
}

::-webkit-scrollbar-track:hover {
	background-color: #555;
}
/* blink based browser */

/* geckeo based browser */
* {
	scrollbar-width: thin;
	scrollbar-color: #14FF47 #555;
}
/* geckeo based browser */
