* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

.com-overlay {
  position: relative;
  z-index: 1;
}

.com-overlay::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*==========================
		com css end
============================*/
.menu {
  height: 50px;
}

.menu__logo {
  font-family: "Source Sans Pro", sans-serif;
  color: #303030;
  font-weight: 400;
}

.menu__logo2 {
  color: #14FF47;
}

.menu__item {
  padding: 7px 12px;
  font-size: 15px;
  font-weight: 600;
  color: #303030;
  border: 2px solid #303030;
  text-transform: uppercase;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.menu__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #14FF47;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.menu__item:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu_fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  background: #FFFFFF;
}

.banner__wrap {
  padding-top: 80px;
}

.banner__img img {
  width: 300px;
  margin-left: 60px;
  margin-top: -20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
}

.banner__text h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 72px;
  font-weight: 300;
  color: #303030;
}

.banner__text h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #303030;
}

.banner__text h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 3.77px;
  color: #303030;
  position: relative;
}

.banner__text h3::before {
  position: absolute;
  content: "";
  right: 110px;
  top: 6px;
  width: 825px;
  height: 51px;
  background: #14FF47;
  z-index: -1;
}

.banner__bg {
  padding: 115px 0 200px;
}

.typed-cursor {
  font-size: 50px;
  color: red;
}

#work .work-bg {
  padding: 150px 0 117px;
}

#work .work-bg .work--heading h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #14FF47;
  font-size: 60px;
  font-weight: 900;
  padding-bottom: 50px;
  position: relative;
}

#work .work-bg .work--heading h2::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 35px;
  width: 90px;
  height: 2px;
  background: #5a5a5b;
}

#work .work-bg .work--text h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 10px;
}

#work .work-bg .work--text p {
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
}

#work .work-bg .work--btn {
  margin-top: 50px;
  /* From cssbuttons.io */
}

#work .work-bg .work--btn .fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
}

#work .work-bg .work--btn .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: #FFFFFF;
  top: 50%;
  left: 1.5em;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: background 0.3s linear, width 0.3s linear;
  transition: background 0.3s linear, width 0.3s linear;
}

#work .work-bg .work--btn .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

#work .work-bg .work--btn .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

#work .work-bg .work--btn .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

#work .work-bg .work--btn .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

#work .work-bg .work--btn .fancy:hover {
  color: white;
  background: #14FF47;
  border: 2px solid #14FF47;
}

#work .work-bg .work--btn .fancy:hover::before {
  width: 0.9375rem;
  background: #303030;
}

#work .work-bg .work--btn .fancy:hover .text {
  color: #303030;
  padding-left: 1.5em;
}

#work .work-bg .work--btn .fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

#work .work-bg .work--btn .fancy:hover .bottom-key-1,
#work .work-bg .work--btn .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

#about-me {
  padding: 200px 0;
}

#about-me .about--main h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #303030;
  padding-bottom: 20px;
}

#about-me .about--main h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #303030;
  position: relative;
}

#about-me .about--main h5::before {
  position: absolute;
  content: "";
  left: -40px;
  top: -10px;
  width: 1221px;
  height: 50px;
  background: #14FF47;
  z-index: -1;
}

#about-me .about--main p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #303030;
  padding-top: 30px;
}

#about-me .about--main p span {
  display: block;
  padding-top: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 3rem 0;
  padding: 3rem 0;
}

.swiper .swiper-wrapper {
  height: 510px;
}

.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
}

#my-works {
  padding: 200px 0;
  overflow-x: hidden;
}

#my-works .my-works--headings h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  color: #303030;
  font-size: 60px;
}

#my-works .my-works--headings h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  color: #14FF47;
  font-size: 24px;
}

#my-works .work--crd {
  position: relative;
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
}

#my-works .work--crd .card-wrap {
  position: absolute;
  border-radius: 8px;
  height: 100%;
  background-color: #000000bb;
  -o-object-fit: contain;
     object-fit: contain;
  top: 188px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  padding: 15px;
}

#my-works .work--crd .card-wrap:hover {
  top: 0;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

#my-works .work--crd .card-wrap h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  padding-bottom: 5px !important;
}

#my-works .work--crd .card-wrap h4 a {
  margin-left: 173px;
}

#my-works .work--crd .card-wrap h4 a:hover i {
  color: #14FF47;
}

#my-works .work--crd .card-wrap h4 a i {
  color: #FFFFFF;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

#my-works .work--crd .card-wrap h4::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 1px;
  background: #f1f1f1;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 10px 0;
}

#my-works .work--crd .card-wrap p {
  font-size: 12px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
  text-align: left;
  padding-top: 5px;
}

#footer {
  padding: 100px 0;
  background: #141414;
}

#footer .footer--text h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  color: #14FF47;
  font-size: 24px;
  margin-bottom: 20px;
}

#footer .footer--icon i {
  font-size: 24px;
  color: #14FF47;
  margin: 30px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#footer .footer--icon i:hover {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */