@import "../base/color";
@import "../base/fonts";

// banner start
#banner{
	@include sm {
		padding: 0 10px;
	}
}


.banner__wrap {
	padding-top: 80px;
}

.banner__img {
	img {
		width: 300px;
		margin-left: 60px;
		margin-top: -20px;
		box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);

		@include sm {
			width: 250px;
			margin: 10px auto;
			display: block;
		}

		
		@include md {
			width: 350px;
			margin: 20px auto;
			display: block;
		}

		@include lg {
			width: 400px;
			margin: 20px auto;
			display: block;
		}

		@include xl {
			margin-left: 14px;
		}
	}
}

.banner__text {
	h2 {
		font-family: $sans;
		font-size: 72px;
		font-weight: 300;
		color: $-text-black;

		@include sm{
			text-align: center;
			font-size: 62px;
		}

		@include md{
			text-align: center;
			font-size: 66px;
		}

		@include lg {
			text-align: center;
			font-size: 68px;
		}
	}

	h1 {
		font-family: $sans;
		font-size: 60px;
		font-weight: 900;
		color: $-text-black;
		
		@include sm{
			text-align: center;
			font-size: 50px;
			margin: 5px 0;
		}

		@include md{
			text-align: center;
			font-size: 56px;
			margin: 5px 0;
		}

		@include lg {
			text-align: center;
			font-size: 58px;
			margin: 5px 0;
		}
	}

	h3 {
		font-family: $sans;
		font-size: 50px;
		font-weight: 300;
		letter-spacing: 3.77px;
		color: $-text-black;
		position: relative;

		@include sm {
			font-size: 30px;
			text-align: center;
			background: $brand;
		}

		@include md {
			font-size: 40px;
			text-align: center;
			background: $brand;
		}

		@include lg {
			font-size: 50px;
			text-align: center;
			background: $brand;
		}

		&::before {
			position: absolute;
			content: "";
			right: 110px;
			top: 6px;
			width: 825px;
			height: 51px;
			background: $brand;
			z-index: -1;

			@include sm{
				display: none;
			}

			@include md{
				display: none;
			}

			@include lg{
				display: none;
			}

			@include xl {
				right: 6px;
			}
		}
	}
}

.banner_p{
	padding-top: 100px;
}

.banner__bg {

	svg{
		margin: -1px 0;

		.sdown {
			fill: $brand;
			margin-top: -1px;
		}

		.sup{
			fill: $brand;
			margin-bottom: -1px;
		}
	}
}

// .typed-cursor{
//     font-size: 50px;
// }