@import "../base/color";
@import "../base/fonts";
@import "../components/dbutton";

// menu css start

.menu {
	height: 50px;

	&__logo {

		svg{

			width: 135px;
			height: 40px;

			.st0 {
				fill: $brand;
				font-family: $sans;
			}
			.st1 {
				fill: $-text-black;
				font-family: $sans;
			}
		}
	}


	&__item {
		padding: 7px 12px;
		font-size: 15px;
		font-weight: 600;
		color: $-text-black;
		border: 2px solid $-text-black;
		text-transform: uppercase;
		text-align: center;
		font-family: $sans;
		margin: 0 10px;
		cursor: pointer;
		position: relative;
		background-color: transparent;
		overflow: hidden;
		z-index: 1;
	}

	&__item::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $brand;
		transform: translateX(-100%);
		transition: all 0.3s;
		z-index: -1;
	}

	&__item:hover::before {
		transform: translateX(0);
	}
}

.menu_fix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
	background: $menu;
}
