@import "../base/color";
@import "../base/fonts";

// menu css start

.menu{
    height: 50px;
    
    &__item{
        
        a{
            color: $-text-black;
            font-family: $sans;
            font-size: 15px;
            padding: 0 10px;
            margin-left: 10px;
            line-height: 50px;
        }
    }
}