@import "../base/color";
@import "../base/fonts";
// work start

#work {
	.work-bg {
		padding: 150px 0 117px;

		.work--heading {
			h2 {
				font-family: $sans;
				color: $brand;
				font-size: 60px;
				font-weight: 900;
				padding-bottom: 50px;
				position: relative;

				&::before {
					position: absolute;
					content: "";
					left: 50%;
					transform: translateX(-50%);
					bottom: 35px;
					width: 90px;
					height: 2px;
					background: #5a5a5b;
				}
			}
		}

		.work--text {
			h3 {
				font-family: $sans;
				color: $white;
				font-size: 24px;
				font-weight: 900;
				text-align: center;
				padding-bottom: 10px;
			}

			p {
				font-family: $sans;
				color: $white;
				font-size: 18px;
				font-weight: 200;
				text-align: justify;
			}
		}

		.work--btn {
			a {
				font-family: $sans;
				font-size: 16px;
				font-weight: 600;
				color: $white;
				letter-spacing: 0.8px;
				background-color: $brand;
				padding: 10px 20px;
				margin-top: 50px;
			}
		}
	}
}
