@import "../base/color";
@import "../base/fonts";

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
    margin: 3rem 0;
    padding: 3rem 0;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: rgb(34, 33, 33);
        // height: calc((100% - 30px) / 2) !important;
        height: auto;
        color: $white;
        font-family: $sans;
        // padding: 130px 0;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}


