$brand: var(--brand);

$body: var(--body);


$-text-black: var(--text);
$-text-white: var(--text-white);

$menu:var(--menu);

$white: var(--white);
$black: var(--black);

$ash-light: #2E2E2E;
$ash-dark: #141414;
