$brand: var(--brand-light);
$brand-dark: var(--brand-dark);


$-text-black: var(--text-black);
$-text-white: var(--text-white);


$white: var(--white);
$black: var(--black);

$ash-light: #2E2E2E;
$ash-dark: #141414;
